# 1. Manipulating using a list.

1. To add new elements to the end of the list.
2. To reverse elements in the list
3. To display the same list of elements multiple times.
4. To concatenate two list
5. To sort the elements in the list ain ascending order.

In [1]:
# Initialize a list
a = [1, 2, 3, 4, 5]

# 1. Add new elements to the end of the list
b = [6, 7, 8]
a.extend(b)
print("1. List after adding new elements:", a)

# 2. Reverse elements in the list
a.reverse()
print("2. List after reversing:", a)

# 3. Display the same list of elements multiple times
num_times = 3
result_list = a * num_times
print(f"3. List displayed {num_times} times:", result_list)

# 4. Concatenate two lists
list1 = [9, 10]
list2 = [11, 12]
concatenated_list = list1 + list2
print("4. Concatenated list:", concatenated_list)

# 5. Sort the elements in the list in ascending order
a.sort()
print("5. List sorted in ascending order:", a)

1. List after adding new elements: [1, 2, 3, 4, 5, 6, 7, 8]
2. List after reversing: [8, 7, 6, 5, 4, 3, 2, 1]
3. List displayed 3 times: [8, 7, 6, 5, 4, 3, 2, 1, 8, 7, 6, 5, 4, 3, 2, 1, 8, 7, 6, 5, 4, 3, 2, 1]
4. Concatenated list: [9, 10, 11, 12]
5. List sorted in ascending order: [1, 2, 3, 4, 5, 6, 7, 8]

# 2. write a Python Program to do in tuple.

1. Manipulate using tuples.
2. To add new elements to the end of the tuples.
3. To reverse elements in the list.
4. To display the elements of the same tuple multiple times.
5. To concatenate two tuples.
6. To sort the elements in list in ascending order.

In [2]:
# Initialize a tuple
t = (1, 2, 3, 4, 5)

# 1. Manipulate using tuples
# Tuples are immutable, so you can't directly change them.
# For example, to change the third element to 10:
modified_tuple = t[:2] + (10,) + t[3:]
print("1. Manipulated Tuple:", modified_tuple)

# 2. To add new elements to the end of the tuple
new_elements = (6, 7, 8)
t += new_elements
print("2. Tuple after adding new elements:", t)

# 3. To reverse elements in the tuple
reversed_tuple = t[::-1]
print("3. Reversed Tuple:", reversed_tuple)

# 4. To display the elements of the same tuple multiple times
num_times = 3
result_tuple = t * num_times
print(f"4. Tuple displayed {num_times} times:", result_tuple)

# 5. To concatenate two tuples
tuple1 = (9, 10)
tuple2 = (11, 12)
concatenated_tuple = tuple1 + tuple2
print("5. Concatenated Tuple:", concatenated_tuple)

# 6. To sort the elements in a list in ascending order
sorted_tuple = tuple(sorted(t))
print("6. Tuple sorted in ascending order:", sorted_tuple)

1. Manipulated Tuple: (1, 2, 10, 4, 5)
2. Tuple after adding new elements: (1, 2, 3, 4, 5, 6, 7, 8)
3. Reversed Tuple: (8, 7, 6, 5, 4, 3, 2, 1)
4. Tuple displayed 3 times: (1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
5. Concatenated Tuple: (9, 10, 11, 12)
6. Tuple sorted in ascending order: (1, 2, 3, 4, 5, 6, 7, 8)

# 3. Write a python program to implement the follwing using the list.

1. Create a list with the integers (min 10 numbers)
2. How to display the last number in the list.
3. Command for displaying the values from the list [0:4]
4. Command for diaplaying the values from the list [2:]
5. Command for displaying the values from the list [:6]

In [6]:
# 1. Create a list with integers (minimum 10 numbers)
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("1. The values in b are", b)

# 2. Display the last number in the list
last_number = b[-1]
print("2. Last number in the list:", last_number)

# 3. Display values from the list [0:4]
subset1 = b[0:4]
print("3. Values from index 0 to 3:", subset1)

# 4. Display values from the list [2:]
subset2 = b[2:]
print("4. Values from index 2 to the end:", subset2)

# 5. Display values from the list [:6]
subset3 = b[:6]
print("5. Values from the beginning to index 5:", subset3)

1. The values in b are [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2. Last number in the list: 10
3. Values from index 0 to 3: [1, 2, 3, 4]
4. Values from index 2 to the end: [3, 4, 5, 6, 7, 8, 9, 10]
5. Values from the beginning to index 5: [1, 2, 3, 4, 5, 6]

# 4. Write a python program: tuple1=(10,50,20,40,30)

1. To display the elements 10 and 50 from tuple1
2. To display the length of a tuple1.
3. To find the minimum element from tuple1.
4. To add all the elements in the tuple1.
5. To display the same tuple1 multiple times.

In [7]:
# Initialize tuple1
tuple1 = (10, 50, 20, 40, 30)

# 1. Display the elements 10 and 50 from tuple1
element1 = tuple1[0]
element2 = tuple1[1]
print("1. Elements 10 and 50 from tuple1:", element1, element2)

# 2. Display the length of tuple1
length = len(tuple1)
print("2. Length of tuple1:", length)

# 3. Find the minimum element from tuple1
min_element = min(tuple1)
print("3. Minimum element from tuple1:", min_element)

# 4. Add all the elements in tuple1
sum_elements = sum(tuple1)
print("4. Sum of elements in tuple1:", sum_elements)

# 5. Display the same tuple1 multiple times
num_times = 3
result_tuple = tuple1 * num_times
print(f"5. Tuple1 displayed {num_times} times:", result_tuple)

1. Elements 10 and 50 from tuple1: 10 50
2. Length of tuple1: 5
3. Minimum element from tuple1: 10
4. Sum of elements in tuple1: 150
5. Tuple1 displayed 3 times: (10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a python program

1. To calculate the length of a string.
2. To reverse words in a string.
3. To display the same string multiple times.
4. To concatenate two strings.
5. str1="South India", Using string slicing to display "India"

In [8]:
# 1. Calculate the length of a string
input_string = "Hello, World!"
string_length = len(input_string)
print("1. Length of the string:", string_length)

# 2. Reverse words in a string
words = input_string.split()
reversed_string = ' '.join(reversed(words))
print("2. Reversed words in the string:", reversed_string)

# 3. Display the same string multiple times
num_times = 3
result_string = input_string * num_times
print(f"3. String displayed {num_times} times:", result_string)

# 4. Concatenate two strings
str1 = "Hello, "
str2 = "World!"
concatenated_string = str1 + str2
print("4. Concatenated string:", concatenated_string)

# 5. Using string slicing to display "India" from "South India"
str3 = "South India"
substring = str3[6:]
print("5. Substring 'India' from 'South India':", substring)

1. Length of the string: 13
2. Reversed words in the string: World! Hello,
3. String displayed 3 times: Hello, World!Hello, World!Hello, World!
4. Concatenated string: Hello, World!
5. Substring 'India' from 'South India': India

# 6. Perform the following:

1. Creating the directory.
2. Accessing values and keys in the Dictionary.
3. Updating the dictionary using a function.
4. Clear and delete the dictionary values.

In [10]:
# 1. Creating a directory (folder)
import os

# Specify the directory path
directory_path = "my_directory"

# Check if the directory already exists
if not os.path.exists(directory_path):
    # Create the directory
    os.mkdir(directory_path)
    print(f"1. Created directory: {directory_path}")
else:
    print(f"1. Directory '{directory_path}' already exists.")

# 2. Accessing values and keys in the dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Accessing values by keys
print("2. Accessing values by keys:")
print("Name:", my_dict['name'])
print("Age:", my_dict['age'])
print("City:", my_dict['city'])

# Accessing keys
print("Accessing keys:")
keys = my_dict.keys()
print(list(keys))

# 3. Updating the dictionary using a function
def update_dictionary(dictionary, key, value):
    dictionary[key] = value

update_dictionary(my_dict, 'occupation', 'Engineer')
print("\n3. Updated dictionary:", my_dict)

# 4. Clear and delete the dictionary values
# Clear all values in the dictionary
my_dict.clear()
print("\n4. Cleared dictionary:", my_dict)

# Delete the dictionary
del my_dict

1. Directory 'my_directory' already exists.
2. Accessing values by keys:
Name: John
Age: 30
City: New York
Accessing keys:
['name', 'age', 'city']

3. Updated dictionary: {'name': 'John', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}

4. Cleared dictionary: {}

# 7. Python Program to insert a number to any position in a list.

In [11]:
# Sample list
a = [1, 2, 3, 4, 5]

# Number to insert
number_to_insert = 10

# Position where you want to insert the number (0-based index)
position = 2

# Check if the position is valid
if position >= 0 and position <= len(a):
    # Insert the number at the specified position
    a.insert(position, number_to_insert)
    print(f"Inserted {number_to_insert} at position {position}.")
else:
    print("Invalid position. Position should be between 0 and the length of the list.")

# Display the updated list
print("Updated List:", a)

Inserted 10 at position 2.
Updated List: [1, 2, 10, 3, 4, 5]

# 8. Python program to delete an element froma list by index.

In [12]:
# Sample list
a = [1, 2, 3, 4, 5]

# Index of the element to delete
index_to_delete = 2

# Check if the index is valid
if index_to_delete >= 0 and index_to_delete < len(a):
    # Delete the element at the specified index
    del a[index_to_delete]
    print(f"Deleted element at index {index_to_delete}.")
else:
    print("Invalid index. Index should be between 0 and one less than the length of the list.")

# Display the updated list
print("Updated List:", a)

Deleted element at index 2.
Updated List: [1, 2, 4, 5]

# 9.Write a program to display a number from 1 to 100.

In [13]:
# Display numbers from 1 to 100
for number in range(1, 101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. Write a Python program to find the sum of all items in a tuple.

In [14]:
# Define a tuple
z = (1, 2, 3, 4, 5)

# Calculate the sum of all items in the tuple
total_sum = sum(z)

# Display the result
print("Sum of all items in the tuple:", total_sum)

Sum of all items in the tuple: 15

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.

ls=['hello', 'Dear', 'hOw', 'ARe', 'You']

In [16]:
# List of words
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']

# Initialize a list to store words that meet the condition
result_words = []

# Iterate through the list
for word in ls:
    # Check if the word has at least two characters and the second character is uppercase
    if len(word) >= 2 and word[1].isupper():
        result_words.append(word)

# Print the words that meet the condition
print("Words with the second character in uppercase:", result_words)

Words with the second character in uppercase: ['hOw', 'ARe']

# CONTROL STRUCTURES

# 1. Write a python program to find the first N prime Numbers

In [18]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def find_primes(n):
    prime_list = []
    num = 2
    while len(prime_list) < n:
        if is_prime(num):
            prime_list.append(num)
        num += 1
    return prime_list

# Input: N (number of prime numbers to find)
N = int(input("Enter the value of N: "))

if N <= 0:
    print("N must be a positive integer.")
else:
    prime_numbers = find_primes(N)
    print(f"The first {N} prime numbers are:")
    print(prime_numbers)

Enter the value of N: 4
The first 4 prime numbers are:
[2, 3, 5, 7]

# 2. Write a Python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, DA. Add these components to calculate the Gross Salary. Also deduct 10% of salary from the gross salary to be paid as a tax and display gross minus tax as net salary.

In [19]:
# Prompt the user to enter the Basic Salary, HRA, TA, and DA
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

# Calculate Gross Salary by adding Basic Salary, HRA, TA, and DA
gross_salary = basic_salary + hra + ta + da

# Calculate Tax (10% of Gross Salary)
tax = 0.10 * gross_salary

# Calculate Net Salary (Gross Salary - Tax)
net_salary = gross_salary - tax

# Display the results
print("Gross Salary:", gross_salary)
print("Tax Deducted (10% of Gross Salary):", tax)
print("Net Salary:", net_salary)

Enter Basic Salary: 50000
Enter HRA: 2000
Enter TA: 5000
Enter DA: 1000
Gross Salary: 58000.0
Tax Deducted (10% of Gross Salary): 5800.0
Net Salary: 52200.0

# 3.Write a Python program to search for a given string in the list

In [21]:
# Sample list of strings
string_list = ["apple", "banana", "cherry", "date", "fig"]

# Prompt the user to enter a string to search for
search_string = input("Enter a string to search for: ")

# Initialize a flag to track if the string is found
found = False

# Iterate through the list to search for the string
for item in string_list:
    if search_string.lower() == item.lower():
        found = True
        break

# Check if the string was found and display the result
if found:
    print(f"'{search_string}' was found in the list.")
else:
    print(f"'{search_string}' was not found in the list.")

Enter a string to search for: apple
'apple' was found in the list.

# 4. Write a Python function that accepts a string and calculates the number of upper and lower case letters.

In [22]:
def count_upper_lower_case_letters(input_string):
    # Initialize counters for uppercase and lowercase letters
    uppercase_count = 0
    lowercase_count = 0

    # Iterate through each character in the input string
    for char in input_string:
        if char.isupper():
            uppercase_count += 1
        elif char.islower():
            lowercase_count += 1

    # Return the counts
    return uppercase_count, lowercase_count

# Example usage
input_str = input("Enter a string: ")
uppercase, lowercase = count_upper_lower_case_letters(input_str)

print("Number of uppercase letters:", uppercase)
print("Number of lowercase letters:", lowercase)

Enter a string: wInTer bEAR
Number of uppercase letters: 5
Number of lowercase letters: 5

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [23]:
# Initialize variables to store the sum of odd and even numbers
sum_odd = 0
sum_even = 0

# Iterate through numbers from 12 to 37 (inclusive)
for num in range(12, 38):
    if num % 2 == 0:  # Check if the number is even
        sum_even += num
    else:
        sum_odd += num

# Display the sums
print("Sum of even numbers between 12 and 37:", sum_even)
print("Sum of odd numbers between 12 and 37:", sum_odd)

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

# 6. Write a Python program to print the table of any number.

In [24]:
# Prompt the user to enter a number
number = int(input("Enter a number: "))

# Print the table of the entered number (up to a certain limit, e.g., 10)
print(f"Table of {number}:")

# Use a loop to calculate and print the table
for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

Enter a number: 45
Table of 45:
45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

# 7. Write a Python Program to sum the first 10 prime numbers.

In [25]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

count = 0
num = 2
sum_primes = 0

while count < 10:
    if is_prime(num):
        sum_primes += num
        count += 1
    num += 1

print("Sum of the first 10 prime numbers:", sum_primes)

Sum of the first 10 prime numbers: 129

# 8. Write a Python Program to implement airthametic operations using nested if statements.

In [26]:
# Prompt the user to enter two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Prompt the user to choose an operation
print("Choose an operation:")
print("1. Addition (+)")
print("2. Subtraction (-)")
print("3. Multiplication (*)")
print("4. Division (/)")
choice = input("Enter your choice (1/2/3/4): ")

# Use nested if statements to perform the selected operation
if choice == '1':
    result = num1 + num2
    operation = "Addition"
elif choice == '2':
    result = num1 - num2
    operation = "Subtraction"
elif choice == '3':
    result = num1 * num2
    operation = "Multiplication"
elif choice == '4':
    if num2 == 0:
        print("Error: Division by zero is not allowed.")
    else:
        result = num1 / num2
        operation = "Division"
else:
    print("Invalid choice.")
    result = None

# Display the result of the selected operation
if result is not None:
    print(f"{operation} result: {result}")

Enter the first number: 23
Enter the second number: 12
Choose an operation:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
Enter your choice (1/2/3/4): 3
Multiplication result: 276.0

# 9. Write a Python Program to Take the temperature in celcius and convert it to Fahrenheit.

In [28]:
# Prompt the user to enter the temperature in Celsius
celsius = float(input("Enter temperature in Celsius: "))

# Convert Celsius to Fahrenheit
fahrenheit = (celsius * 9/5) + 32

# Display the temperature in Fahrenheit
print(f"{celsius} degrees Celsius is equal to {fahrenheit:.2f} degrees Fahrenheit.")

Enter temperature in Celsius: 36
36.0 degrees Celsius is equal to 96.80 degrees Fahrenheit.

# 10. Write a Python Program to find the max and min number in a list without using an inbuilt function.

In [29]:
# Sample list of numbers
numbers = [25, 10, 45, 6, 37, 53, 18]

# Initialize variables to store the maximum and minimum
max_num = numbers[0]
min_num = numbers[0]

# Iterate through the list to find the maximum and minimum
for num in numbers:
    if num > max_num:
        max_num = num
    elif num < min_num:
        min_num = num

# Display the maximum and minimum numbers
print("Maximum number:", max_num)
print("Minimum number:", min_num)

Maximum number: 53
Minimum number: 6

# 11. Write a Python Program to print out the number of seconds in 30 day month 30 days, 24 hours in a day, 60 mins per day, 60 second per min.

In [30]:
# Define the number of days, hours, minutes, and seconds
days = 30
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

# Calculate the total number of seconds
total_seconds = days * hours_per_day * minutes_per_hour * seconds_per_minute

# Display the result
print(f"Number of seconds in a {days}-day month: {total_seconds} seconds")

Number of seconds in a 30-day month: 2592000 seconds

# 12. Write a Python Program to print out the number of seconds in a year.

In [31]:
# Define the number of days, hours per day, minutes per hour, and seconds per minute in a year
days_per_year = 365
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

# Calculate the total number of seconds in a year
total_seconds_in_year = days_per_year * hours_per_day * minutes_per_hour * seconds_per_minute

# Display the result
print(f"Number of seconds in a year: {total_seconds_in_year} seconds")

Number of seconds in a year: 31536000 seconds

# 13. A high speed train can travel at an avg speed of 150 mph, how long will it take a train travelling at this speed to travel from Londen to Glasgow which is 414 miles away.

In [32]:
# Define the distance in miles and the average speed in mph
distance_miles = 414
average_speed_mph = 150

# Calculate the time in hours
time_hours = distance_miles / average_speed_mph

# Display the result
print(f"It will take {time_hours:.2f} hours to travel from London to Glasgow.")

It will take 2.76 hours to travel from London to Glasgow.

# 14.Write a Python Program that defines a variable called days_in_each_school_year and assign 192 to variable. The program should then print out the total hours that you spend in school from year 7 to year 11. if each day you spend 6 hours in school day_in_each_school_year = 192.

In [33]:
# Define the number of days in each school year
days_in_each_school_year = 192

# Define the number of school years
school_years = 5

# Define the number of hours spent in school per day
hours_per_day = 6

# Calculate the total hours spent in school
total_hours_spent = days_in_each_school_year * school_years * hours_per_day

# Print the result
print(f"Total hours spent in school from year 7 to year 11: {total_hours_spent} hours")

Total hours spent in school from year 7 to year 11: 5760 hours

# 15. If the ages of Ram, Sam and Khan are input through the keyboard, write a python program to determine the eldest and the youngest of the three.

In [36]:
# Prompt the user to enter the ages of Ram, Sam, and Khan
ram_age = int(input("Enter the age of Ram: "))
sam_age = int(input("Enter the age of Sam: "))
khan_age = int(input("Enter the age of Khan: "))

# Find the eldest and youngest using if statements
if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
else:
    eldest = "Khan"

if ram_age <= sam_age and ram_age <= khan_age:
    youngest = "Ram"
elif sam_age <= ram_age and sam_age <= khan_age:
    youngest = "Sam"
else:
    youngest = "Khan"

# Display the result
print(f"The eldest among Ram, Sam, and Khan is: {eldest}")
print(f"The youngest among Ram, Sam, and Khan is: {youngest}")

Enter the age of Ram: 12
Enter the age of Sam: 11
Enter the age of Khan: 10
The eldest among Ram, Sam, and Khan is: Ram
The youngest among Ram, Sam, and Khan is: Khan